@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root{
  --dark-color:#062730;
  --mid-color:#f08c00;
  --light-color:#bebebe;
}

body{
  margin: 0;
  background-color: #00060a;
}

.dot_pattern{
  background-image: repeating-linear-gradient(-45deg, var(--dark-color), var(--dark-color) 1px, transparent 1px, transparent 6px);
  background-size: 4px 4px;
}

.dot_pattern2{
  background-image: repeating-linear-gradient(-45deg, #8b8b8b, #8b8b8b 1px, transparent 1px, transparent 6px);
  background-size: 4px 4px; 
}

.text-outline{
  -webkit-text-stroke: 2px #faffff;
}

.text-outline-sub{
  -webkit-text-stroke: 1px #f08c00;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #faffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f08c00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #062730;
}

